<div class="page-sustainability">
  {% section 'page-top-banner' %}
  {% section 'page-video' %}
  {% section 'page-richtext-with-image-single' %}
  {% section 'page-statistics-blocks' %}
  {% section 'sustainability-richtext-with-image-multi' %}
  {% section 'related-content' %}
</div>
