<div class="page-about">
  {% section 'page-top-banner' %}
  {% section 'page-content-with-image' %}
  {% section 'the-team' %}
  {% section 'about-richtext-with-image-multi' %}
  {% section 'page-bottom-banner' %}
</div>
